/* Global styling */
body {
  font-family: Arial, sans-serif;
  margin: 0 auto;
  background-color: darkorange;

  .navbar {
    background-color: darkolivegreen; /* makes the background color of the navbar green*/
    height: 50px; /* controls the size of the navbar using height in pixels*/
  
   }

   .nav-link {
    color: aliceblue; /* Makes the font color of the navigation links wht*/
   }
  .github-logo {
    margin: 10px;
    width: 30px;
    height: auto; /* Automatically adjust the height to maintain aspect ratio */
  }

  .linkedin-logo {
    margin: 10px;
    width: 30px;
    height: auto; /* Automatically adjust the height to maintain aspect ratio */
  }

  .gmail-logo {
    margin: 10px;
    width: 30px;
    height: auto;
  }

  #hero {
    background-image: url(../images/camo.jpg);
    background-size: cover;
    background-repeat: no-repeat
  }
  
  .hero-text {
    font-size: 50px;
    align-items: left;
    color: rgb(255, 255, 255);
    padding: 10px;
    background-color: darkolivegreen;
    width: fit-content;
    margin: 0;
    

  }

  .hero-text-small {
    margin-left: 0%;
    width: fit-content;
    font-size: smaller;
    color: rgb(255, 243, 227);
    padding: 5px;
    background-color: darkolivegreen;
    
    

  }

  .footer-content {
    margin-left: 0%;
    width: 100%;
    font-size: smaller;
    color: rgb(255, 243, 227);
    padding: 15px;
    background-color: darkolivegreen;
    
    

  }
  
}