/* Global styling */
body {
  font-family: Arial, sans-serif;
  margin: 0 auto;
  padding: 15px;
  background-color: darkorange;

  #hero {
    background-image: url(../images/camo.jpg);
    background-size: cover;
    background-repeat: no-repeat
  }

  .jumbotron {
    background-image: url(/Bootstrap-Portfolio/assets/images/camo.jpg);
    background-size: cover;
    background-repeat: no-repeat
  }
}